{{!-- <section class="section-container">
    <div class="box-3">
        <img src="/assets/img/cat01.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
        <img src="/assets/img/cat02.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
        <img src="/assets/img/cat05.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
    </div>
    <div class="box-2">
        <img src="/assets/img/cat11.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
        <img src="/assets/img/cat08.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
    </div>
    <div class="box-1">
        <img src="/assets/img/cat04.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
    </div>
    <div class="box-3">
        <img src="/assets/img/cat12.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
        <img src="/assets/img/cat09.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
        <img src="/assets/img/cat06.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
    </div>
    <div class="box-2">
        <img src="/assets/img/cat03.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
        <img src="/assets/img/cat13.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
    </div>
    <div class="box-1">
        <img src="/assets/img/cat07.jpg" alt="" class="modal-trigger" data-bs-toggle="modal">
    </div>
</section>

<div class="modal fade" id="imagemModal" tabindex="-1" aria-labelledby="imagemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body img-container">
                <img src="/assets/img/cat01.jpg" alt="" id="modalImagem">
            </div>

            <form action="" method="post" id="interactionForm">
                <div class="barra-interacao">
                    <button type="button" class="btn btn-outline-danger">
                        <i class="ph-fill ph-heart"></i>
                    </button>

                    <input type="text" name="comment" class="input-comentario" placeholder="Escreva um comentário">

                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        
        const modalTriggers = document.querySelectorAll(".modal-trigger");

        modalTriggers.forEach(function (trigger){
            trigger.addEventListener('click', function() {

                const modalId = "imagemModal";

                trigger.setAttribute("data-bs-target", "#" + modalId); 

                document.getElementById("modalImagem").src = trigger.src;

            })
        })

        var likeButton = document.querySelector(".btn-outline-danger");

        likeButton.addEventListener("click", () => {
            likeButton.classList.toggle("btn-danger");
        });
    })
</script> --}}